@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 160px;
}

.button {
  font-family: "Roboto", sans-serif;
  color: rgba(33, 150, 83, 1);
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 13px 10px 13px;
  border: 3px solid rgba(111, 207, 151, 1);
  border-radius: 5px;
}
